* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-image: linear-gradient(to right , #8b00ff,   #ff0000);
    color:#ffffff;
}

.container {
    text-align: center;
    margin-top: 50px;
    margin-right: 60px; 
}

.title {
    font-weight: 700;
}

#timer {
    margin-top: 50px;
    font-size:50px
}

#button {
    cursor: pointer;
    margin-top: 50px;
}

/* Progress bar */

.progress {
    margin: 50px auto 0 auto;
    height: 100px;
    width: 200px;
}

.progress-line-bg {
    display: none;
    background-color: #808080;
    border-radius: 10px;
    overflow: hidden; 
    height: 10px;
    width: 200px;
}

.progress-line {
    background-color: #39c400;
    border-radius: 10px;
    height: 10px;
    width: 0;
}